{:about-me
 {:text [:div
         [:p "Dr. Ji Liu is an assistant professor at University of
                 Rochester. His research interests cover both algorithm and
                 theory study in machine learning, optimization, and
                 reinforcement learning, with emphasis on big data involved
                 scenarios. "]
         [:p "He is also interested in applying his expertise to
                 solve real application problems, for example, image analysis,
                 game AI design, vision understanding, video surveillance, healthcare,
                 bioinformatics, social networks, etc. He received the best
                 paper award in several top tier AI conferences, and the IBM
                 faculty award in 2017."]
         [:p "He is also an awardee of MIT TR35 China 2018."]]
  :avatar "https://ikzk.github.io/hp-ji/fig/jiliu.jpg"}
 :news {:items [{:date "09/05/2018"
                 :content [:p "Our group has three papers accepted by NIPS 2018. Congrats to all authors."]}

                {:date "05/07/2018"
                 :content [:p "Our group has two papers accepted by
                         ICML 2018. Congrats to Hanlin Tang, Xiangru Lian, and
                         other collaborators. It is worth to mention that Hanlin
                         Tang is the first year master student in our group and
                         started to learn machine learning just one year ago. It
                         is very impressive to publish a paper in the top tier
                         ML conference. Fighting NIPS 2018! "]}
 ]}
 :group-members [{:name "Jie Zhong"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Assistant Professor"}
                 {:name "Shupeng Gui"
                  :avatar "https://ikzk.github.io/hp-ji/fig/shupeng_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Xiangru Lian"
                  :avatar "https://ikzk.github.io/hp-ji/fig/xiangru_avatar.png"
                  :tag "Ph.D. Student"
                  :link "http://xrlian.com"}
                 {:name "Hanlin Tang"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Haichuan Yang"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Chen Yu"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Jinglin Xu"
                  :avatar "https://ikzk.github.io/hp-ji/fig/jinglin_avatar.jpg"
                  :tag "Visiting Student"}
                 {:name "Yawei Zhao"
                  :avatar "https://ikzk.github.io/hp-ji/fig/yawei_avatar.jpg"
                  :tag "Visiting Student"}

                 {:name "Yijun Huang"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Researcher"}

                 {:name "Chuyang Ke"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (Purdue, PHD candidate)"}
                 {:name "Ke Ren"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (U. of Pittsburgh, PHD candidate)"}
                 {:name "Yue Wu"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (UC-Davis, PHD candidate)"}
                 {:name "Yu Zhao"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Visiting Student"}
                 {:name "Zheng Zhou"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (Buffalo, PHD candidate)"}
                 ]
 :publications {:resource-link "publications.html"}
 #_[{:name "Optimization and machine learning system"
                 :items [{:tags [{:name "NIPS 2017" :link "https://nips.cc/Conferences/2017"}
                                 {:name "software" :link "https://nips.cc/Conferences/2017"}]
                          :title "Can Decentralized Algorithms Outperform
                         Centralized Algorithms? A Case Study for Decentralized
                         Parallel Stochastic Gradient Descent"
                          :title-link "https://arxiv.org/pdf/1705.09056.pdf"
                          :authors [:p "Xiangru Lian, Ce Zhang, Huan Zhang,
                         Cho-Jui Hsieh, Wei Zhang, and " [:b "Ji Liu"]]
                          :note "Oral"}

                         {:tags [{:name "AISTATS 2017"}]
                          :title "Finite-sum Composition Optimization via
                         Variance Reduced Gradient Descent"
                          :title-link "https://arxiv.org/abs/1610.04674"
                          :authors [:p "Xiangru Lian, Huan Zhang, Cho-Jui Hsieh,
                         Yijun Huang, and " [:b "Ji Liu"]]
        }]}]
 :teaching [{:name "Advanced Machine Learning and Optimization"
             :link "http://www.cs.rochester.edu/~jliu/CSC-576-2016fall.html"
             :tag "CSC 576, Fall 2016"}
            {:name "Modern (Computational) Approaches to Big Data Analytics"
             :link "http://www.cs.rochester.edu/~jliu/CSC-576-2014fall.html"
             :tag "CSC 576, Fall 2014"}
        ]}
