{:about-me
 {:text [:div
         [:p "Dr. Ji Liu has left University of
                 Rochester. He was an assistant professor over here. His research interests cover both algorithm and
                 theory study in machine learning, optimization, and
                 reinforcement learning, with emphasis on big data involved
                 scenarios. "]
         [:p "He is also interested in applying his expertise to
                 solve real application problems, for example, image analysis,
                 game AI design, vision understanding, video surveillance, healthcare,
                 bioinformatics, social networks, etc. He received the best
                 paper award in several top tier AI conferences, and the IBM
                 faculty award in 2017."]
         [:p "He is also an awardee of MIT TR35 China 2018."]]
  :avatar "https://ikzk.github.io/hp-ji/fig/jiliu.jpg"}
 :news {:items [
 		{:date "02/20/2020"
                 :content [:p "Two papers are accepted by CVPR 2020. Congratulations all authors. Welcome to Seattle."]}
                 
                 {:date "01/20/2020"
                 :content [:p "One RL paper is accepted as an oral paper by ICLR 2020. Congratulations to all authors, especially Anji Liu -- my intern student at Kwai Inc."]}
                 
 		{:date "09/04/2019"
                 :content [:p "Fours papers are accepted by NeurIPS 2019. Congratulations all authors. Too much surprise from NeurIPS this year."]}
 
                {:date "07/21/2019"
                 :content [:p "Our paper 'Optimal Expert Knowledge Elicitation for Bayesian Network Structure Identification' collaborating with Professor Shuai Huang from UW received the runner up for the best paper (annual) award at IEEE Transactions on Automation Science and Engineering."]}

                {:date "04/21/2019"
                 :content [:p "Two papers are accepted by ICML 2019. Congratulations to Hanlin, Chen, Xiangru, and other authors."]}
 
 		{:date "02/25/2019"
                 :content [:p "Our second model compression paper gets accepted by CVPR 2019. We are introducing new optimization technologies to the field of model compression. Congratulations to Haichuan and Yuhao."]}
 
                {:date "12/22/2018"
                 :content [:p "We have two papers accepted by AISTATS 2019. Congrats to Chen Yu, and Xiangru Lian, and other authors."]}

                {:date "12/21/2018"
                 :content [:p "Our paper 'Fast Unsupervised Location Category Inference from Highly Inaccurate Mobility Data' accepted by SDM 2019. Congrats to all authors."]}

                {:date "12/20/2018"
                 :content [:p "We have two papers accepted by ICLR 2019. Congrats to Haichuan Yang and other authors."]}

 		{:date "12/2/2018"
                 :content [:p "Participate NIPS 2018 at Montreal."]}
 
 		{:date "11/20/2018"
                 :content [:p "Serve to a PC or SPC in several top AI conferences, AAAI, ICLR, and AISTATS."]}
	
 		{:date "09/05/2018"
                 :content [:p "Our group has three papers accepted by NIPS 2018. Congrats to all authors."]}

                {:date "05/07/2018"
                 :content [:p "Our group has two papers accepted by
                         ICML 2018. Congrats to Hanlin Tang, Xiangru Lian, and
                         other collaborators. It is worth to mention that Hanlin
                         Tang is the first year master student in our group and
                         started to learn machine learning just one year ago. It
                         is very impressive to publish a paper in the top tier
                         ML conference. Fighting NIPS 2018! "]}
 ]}
 :group-members [{:name "Jie Zhong"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Assistant Professor"}
                 {:name "Shupeng Gui"
                  :avatar "https://ikzk.github.io/hp-ji/fig/shupeng_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Xiangru Lian"
                  :avatar "https://ikzk.github.io/hp-ji/fig/xiangru_avatar.png"
                  :tag "Ph.D. Student"
                  :link "http://xrlian.com"}
                 {:name "Hanlin Tang"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Haichuan Yang"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Chen Yu"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Ph.D. Student"}
                 {:name "Jinglin Xu"
                  :avatar "https://ikzk.github.io/hp-ji/fig/jinglin_avatar.jpg"
                  :tag "Visiting Student"}
                 {:name "Yawei Zhao"
                  :avatar "https://ikzk.github.io/hp-ji/fig/yawei_avatar.jpg"
                  :tag "Visiting Student"}

                 {:name "Yijun Huang"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Researcher"}

                 {:name "Chuyang Ke"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (Purdue, PHD candidate)"}
                 {:name "Ke Ren"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (U. of Pittsburgh, PHD candidate)"}
                 {:name "Yue Wu"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (UC-Davis, PHD candidate)"}
                 {:name "Yu Zhao"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Visiting Student"}
                 {:name "Zheng Zhou"
                  :avatar "https://ikzk.github.io/hp-ji/fig/no_avatar.jpg"
                  :tag "Alumni (Buffalo, PHD candidate)"}
                 ]
 :publications {:resource-link "publications.html"}
 #_[{:name "Optimization and machine learning system"
                 :items [{:tags [{:name "NIPS 2017" :link "https://nips.cc/Conferences/2017"}
                                 {:name "software" :link "https://nips.cc/Conferences/2017"}]
                          :title "Can Decentralized Algorithms Outperform
                         Centralized Algorithms? A Case Study for Decentralized
                         Parallel Stochastic Gradient Descent"
                          :title-link "https://arxiv.org/pdf/1705.09056.pdf"
                          :authors [:p "Xiangru Lian, Ce Zhang, Huan Zhang,
                         Cho-Jui Hsieh, Wei Zhang, and " [:b "Ji Liu"]]
                          :note "Oral"}

                         {:tags [{:name "AISTATS 2017"}]
                          :title "Finite-sum Composition Optimization via
                         Variance Reduced Gradient Descent"
                          :title-link "https://arxiv.org/abs/1610.04674"
                          :authors [:p "Xiangru Lian, Huan Zhang, Cho-Jui Hsieh,
                         Yijun Huang, and " [:b "Ji Liu"]]
        }]}]
 :teaching [{:name "Advanced Machine Learning and Optimization"
             :link "http://www.cs.rochester.edu/~jliu/CSC-576-2016fall.html"
             :tag "CSC 576, Fall 2016"}
            {:name "Modern (Computational) Approaches to Big Data Analytics"
             :link "http://www.cs.rochester.edu/~jliu/CSC-576-2014fall.html"
             :tag "CSC 576, Fall 2014"}
        ]}
