{:asset-path "js/app.out", :output-dir "/home/alice/dotfile/config/boot/cache/tmp/home/alice/code/projects/homepage_ji/emy/l40906/js/app.out", :output-to "/home/alice/dotfile/config/boot/cache/tmp/home/alice/code/projects/homepage_ji/emy/l40906/js/app.js", :main boot.cljs.main1300, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__782 0x20a6c1e8 "adzerk.boot_cljs.impl$compile_cljs$handler__782@20a6c1e8"]]}