{:asset-path "js/app.out", :output-dir "/home/alice/dotfile/config/boot/cache/tmp/home/alice/code/projects/homepage_ji/flc/l40906/js/app.out", :output-to "/home/alice/dotfile/config/boot/cache/tmp/home/alice/code/projects/homepage_ji/flc/l40906/js/app.js", :main boot.cljs.main1300, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__782 0x9ee33aa "adzerk.boot_cljs.impl$compile_cljs$handler__782@9ee33aa"]]}