{:asset-path "js/app.out", :optimizations :advanced, :output-dir "/home/alice/dotfile/config/boot/cache/tmp/home/alice/code/projects/homepage_ji/jm9/l40906/js/app.out", :output-to "/home/alice/dotfile/config/boot/cache/tmp/home/alice/code/projects/homepage_ji/jm9/l40906/js/app.js", :main boot.cljs.main1300, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__782 0x570281f5 "adzerk.boot_cljs.impl$compile_cljs$handler__782@570281f5"]]}